// colors

// primary
$white: #ffffff;
$dark-blue: rgb(3, 17, 36);

// secondary
$black: #000000;
$dark-gray: rgb(12, 15, 22);

// accent
$blue: rgb(15, 84, 130);
$light-blue: rgb(16, 127, 213);
$red: rgb(255, 14, 86);
// shadows
$light-mode-shadow: rgba(0, 0, 0, 0.063);
$dark-mode-shadow: rgba(0, 4, 9, 0.438);

// mouse cursor
$light-mode-cursor: rgb(6, 18, 38);
$light-mode-cursor-border: rgba(6, 18, 38, 0.59);
$light-mode-cursor-border-bg: rgba(6, 18, 38, 0.083);

$dark-mode-cursor: rgb(210, 227, 255);
$dark-mode-cursor-border: rgba(199, 205, 216, 0.59);
$dark-mode-cursor-border-bg: rgba(151, 151, 151, 0.083);
