@import "./utility";
@import "./theme";
@import "./cursor";
@import "./menu";
@import "./animations";

.workflow {
  .wrap-heading {
    position: relative;
    display: inline-block;

    .overlay {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      transition: all 0.5s ease;

      &.mask {
        width: 100%;
      }
      &.unmask {
        width: 0%;
        right: 0;
        left: auto;
      }
    }

    h1 {
      opacity: 0;

      @media only screen and (max-width: 800px) {
        font-size: 40px;
      }

      @media only screen and (max-width: 400px) {
        font-size: 30px;
      }

      @media only screen and (max-width: 320px) {
        font-size: 20px;
      }
    }
  }

  .tools {
    @include grid(repeat(4, 1fr), 30px);
    margin: 50px 0;
    perspective: 1000px;

    .card {
      border-radius: 2px;
      padding: 20px;

      @media only screen and (max-width: 600px) {
        padding: 10px;
      }
    }

    @media only screen and (max-width: 600px) {
      @include grid(repeat(3, 1fr), 20px);
    }

    @media only screen and (max-width: 400px) {
      @include grid(repeat(2, 1fr), 20px);
    }

    @media only screen and (max-width: 320px) {
      @include grid(repeat(2, 1fr), 10px);
    }
  }

  .certs {
    margin-top: 50px;
    @include grid(repeat(2, 1fr), 30px);

    .card {
      border-radius: 2px;
      padding: 20px;

      @media only screen and (max-width: 600px) {
        padding: 10px;
      }
    }
  }
}

footer {
  .links {
    @include flex(center, space-between, row);
    margin-top: 50px;

    span {
      @media only screen and (max-width: 500px) {
        display: none;
      }
    }

    div {
      @include flex(center, space-between, row);

      span {
        @media only screen and (max-width: 500px) {
          display: inline-block;
        }
      }

      a + a {
        margin-left: 50px;

        @media only screen and (max-width: 600px) {
          margin-left: 20px;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      margin-top: 30px;
    }
  }
}
